<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="previousUrl"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Song Details
        </ion-title>
        <ion-buttons slot="end">
            <ion-fab-button color="danger" (click)="addSongToQueue()" size="small">
                <ion-icon name="flame"></ion-icon>
            </ion-fab-button>
            <ion-button (click)="editSong()" size="small">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="removeSong()" size="small">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="song" [scrollEvents]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentPopover($event)">
        <ion-fab-button>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <app-song-scrollable-details [song]="song" [scrollSpeed]="scrollSpeed" [isScrolling]="isScrolling" [chordsVisible]="true" (scrollStateChanged)="scrollStateChanged($event)"></app-song-scrollable-details>
</ion-content>
<ion-footer *ngIf="song">
    <ion-toolbar>
        <ion-buttons slot="start">
            Scroll speed:
            <ion-fab-button size="small" color="dark" (click)="changeScrollSpeed(-speedStep)">
                -{{getSpeedWithDecimals(speedStep)}}
            </ion-fab-button>
            {{getSpeedWithDecimals(scrollSpeed)}}x
            <ion-fab-button size="small" color="dark" (click)="changeScrollSpeed(speedStep)">
                +{{getSpeedWithDecimals(speedStep)}}
            </ion-fab-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-fab-button (click)="playSong()" size="small" *ngIf="!isScrolling">
                <ion-icon name="play"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="pauseScrolling()" size="small" *ngIf="isScrolling">
                <ion-icon name="pause"></ion-icon>
            </ion-fab-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
