<ion-header>
    <ion-toolbar [ngSwitch]="guestMode">
        <ion-buttons slot="start" *ngSwitchCase="false">
            <ion-back-button [defaultHref]="previousUrl"></ion-back-button>
        </ion-buttons>
        <ion-title *ngSwitchCase="false">
            Song Details
        </ion-title>
        <ion-buttons slot="end" *ngSwitchCase="false">
            <ion-button (click)="editSong()" size="small">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button (click)="removeSong()" size="small">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngSwitchCase="true">
            Current Song
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="song" [scrollEvents]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentPopover($event)" *ngIf="guestMode">
        <ion-fab-button>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list *ngIf="song">
        <ion-item-divider sticky>
            <ion-label class="ion-text-wrap">
                <h1>{{song.title}}</h1>
                <h3>{{song.artist}}</h3>
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>Show chords</ion-label>
            <ion-toggle [(ngModel)]="chordsVisible"></ion-toggle>
        </ion-item>

    </ion-list>
    <ion-list lines="none" id="song-details-list">
        <ion-item-group *ngFor="let group of formattedContent">
            <ion-item-divider sticky *ngIf="chordsVisible && group.simpleChords.length > 0">
                <ion-label class="ion-text-wrap chords" color="danger">
                    <p *ngFor="let chords of group.chords; let i=index">{{simpleChords ? group.simpleChords[i] : group.chords[i]}}</p>
                </ion-label>

            </ion-item-divider>
            <ion-item *ngFor="let textLine of group.textLines" class="lyrics-item">
                {{textLine}}
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>
<ion-footer>
    <!--    <ion-item>-->
    <!--        <ion-button (click)="triggerAutoScroll()">Start scroll</ion-button>-->

    <!--    </ion-item>-->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-fab-button (click)="playSong()" size="small" *ngIf="!isScrolling">
                <ion-icon name="play"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="pauseScrolling()" size="small" *ngIf="isScrolling">
                <ion-icon name="pause"></ion-icon>
            </ion-fab-button>
        </ion-buttons>
        <ion-range min="-5" max="5" step="1" pin="true" snaps="true" ticks="true" [(ngModel)]="scrollSpeed"></ion-range>
        <ion-buttons slot="end">
            <ion-fab-button color="danger" (click)="addSongToQueue()" size="small">
                <ion-icon name="flame"></ion-icon>
            </ion-fab-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
