<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="previousUrl"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Song Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="song">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="danger" (click)="presentToast()" data-desc="Add to queue">
                <ion-icon name="flame"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [routerLink]="['/tabs/song', song.uuid, 'edit']" data-desc="Edit">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="remove()" data-desc="Delete">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-list *ngIf="song">
        <ion-item-divider sticky>
            <ion-label class="ion-text-wrap">
                <h1>{{song.title}}</h1>
                <h3>{{song.artist}}</h3>
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>Show chords</ion-label>
            <ion-toggle [(ngModel)]="chordsVisible"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list lines="none">
        <ion-item-group *ngFor="let group of formattedContent">
            <ion-item-divider sticky *ngIf="chordsVisible && group.simpleChords.length > 0">
                <ion-label class="ion-text-wrap chords" color="danger">
                    <p *ngFor="let chords of group.chords; let i=index">{{simpleChords ? group.simpleChords[i] : group.chords[i]}}</p>
                </ion-label>

            </ion-item-divider>
            <ion-item *ngFor="let textLine of group.textLines" class="lyrics-item">
                {{textLine}}
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>
