<ion-tabs>

    <ion-tab-bar slot="bottom" *ngIf="showTabs">
        <ion-tab-button tab="song" [selected]="isSelected('song')" (click)="changeTab('song')">
            <ion-icon name="musical-notes"></ion-icon>
            <ion-label>Songs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="campfire" [selected]="isSelected('campfire')" (click)="changeTab('campfire')">
            <ion-icon name="flame"></ion-icon>
            <ion-label>Campfire</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tuner" [selected]="isSelected('tuner')" (click)="changeTab('tuner')">
            <ion-icon name="podium"></ion-icon>
            <ion-label>Tuner</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings" [selected]="isSelected('settings')" (click)="changeTab('settings')">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
