<ion-header>
  <ion-toolbar>
    <ion-title>
      Create or edit song
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="editForm" (ngSubmit)="save()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Author <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="author"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Title <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Language <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="language"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lyrics and chords in ChordPro format</ion-label>
      <ion-textarea formControlName="content" rows="5" autoGrow="true"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button type="submit" expand="block" [disabled]="editForm.invalid || isSaving">Save song!</ion-button>
</form>
</ion-content>
