<ion-header>
    <ion-toolbar>
        <ion-title>
            All Songs
        </ion-title>
    </ion-toolbar>
    <ion-searchbar debounce="300" (ionChange)="loadSongs()" #searchbar></ion-searchbar>
</ion-header>

<ion-content (wheel)="hideKeyboard()" (panstart)="hideKeyboard()">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="navigateWithTimeout(['/tabs/song/new'])">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list #slidedList *ngIf="filteredSongs && filteredSongs.length > 0">
        <ion-virtual-scroll [items]="filteredSongs" [trackBy]="trackByFn">
            <ion-item-sliding *virtualItem="let song">
            <app-song-list-item [song]="song"></app-song-list-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="remove(song); slidedList.closeSlidingItems()">
                        <ion-icon name="trash" slot="icon-only"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
                <ion-item-options side="start">
                    <ion-item-option (click)="addToQueue(song); slidedList.closeSlidingItems()">
                        <ion-icon name="flame" slot="icon-only"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-virtual-scroll>
    </ion-list>
    <div class="ion-text-center ion-padding-top" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
    <div class="ion-text-center ion-padding-top" *ngIf="(!filteredSongs || filteredSongs.length == 0) && !loading">
        <img src="assets/undraw_no_data_qbuo.svg" alt="No song found" width="200">
        <h2>No songs found</h2>
    </div>
</ion-content>
