<ion-header>
    <ion-toolbar>
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Dark mode</ion-label>
        <ion-toggle [(ngModel)]="darkMode" (ngModelChange)="switchDarkMode()"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>Import songs</ion-label>
        <ion-input type="file" (change)="handleImportFileChanged($event)"></ion-input>
        <ion-button (click)="uploadDocument()" [disabled]="uploading">Load!</ion-button>
    </ion-item>
    <ion-item *ngIf="uploading">
        <ion-progress-bar [value]="progress" buffer="0"></ion-progress-bar>
    </ion-item>
    <app-login></app-login>
    <ion-item *ngIf="authService.user">
        <ion-button (click)="syncWithFirebase()">
            <ion-label>Sync with firebase!</ion-label>
        </ion-button>
        <label>Last sync: {{getLastSyncDateString()}}</label>
    </ion-item>
</ion-content>

<app-info></app-info>
