<ion-header>
    <ion-toolbar>
        <ion-title>
            Campfire Queue
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentPopover($event)">
        <ion-fab-button>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item-sliding *ngFor="let song of songQueue">
            <app-song-list-item [song]="song"></app-song-list-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removeSongFromQueue(song)">
                    <ion-icon name="close" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-item-divider slot="end" class="current-song-container" *ngIf="currentSong" (click)="navigateToSongDetails(currentSong)">
    <ion-icon name="play-circle" size="large" slot="end" class="current-song-icon"></ion-icon>
    <ion-label class="ion-text-wrap">
        <h1>{{currentSong.title}}</h1>
        <h3>{{currentSong.artist}}</h3>
    </ion-label>
</ion-item-divider>
